* {
  }
body {
	background: black;
}
#down {
	svg {
		position: fixed;
		bottom: 20px;
		left:50%;
		margin-left: -15px;
		width: 30px;
		z-index: 3;

		polygon {
			fill: white;
		}
	}
}
.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: .5;} 
    50% {opacity: .7;} 
    100% {opacity: .5;} 
} 
@keyframes fadeIn { 
    0% {opacity: .5;} 
    50% {opacity: .7;} 
    100% {opacity: .5;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
body {
	margin: 0;
	padding: 0;
}
#intro {
	position: relative;
	z-index: 5;
	height: 100vh;
	display: table;
	width: 100%;
	text-align: center;


    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    background: black;
    #spotify {
    	opacity: 0;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    }
    &.loaded {
    	background:none;
    	
    	#spotify {
    		opacity: 1;
    	}
    }
	h1 {
		font-size: 100px;
		font-family: "nimbus-sans-condensed",sans-serif;
		color: white;
		margin:0 auto;
		text-transform: uppercase;
		width: 100%;
		font-weight: 900;
	}
	.who {
		color: white;
		font-size: 14px;
  		cursor: pointer;
  		font-family: "anonymous-pro",sans-serif;
  		text-transform: uppercase;
  		font-weight:500;
  		letter-spacing: 3px;
  		margin-top:-7px;
	}
	.cont {
		display: table-cell;
		vertical-align: middle;
	}
}
.bg, .bg2 {
	display: none;
}

@media screen and  (min-width: 700px) {
	.bg {
		position: fixed;
		bottom:50px;
		right: 0;
		left: 0;
		top: 0;
		z-index: 1;
		display: block;
		background-position: center;
		opacity: 0;
		padding: 0;
		margin: 0;
		line-height: 2vh;
		text-indent: -999px;
	    -webkit-transition: all 500ms ease-out;
	    -moz-transition: all 500ms ease-out;
	    -o-transition: all 500ms ease-out;
	    transition: all 500ms ease-out;
	    &.active {

			opacity: .3;
	    }
	    li {
			background-size: cover;
	    	background-position: center;
	    }
	}
	.bg2 {
		z-index: 1;
		opacity: .5;
		padding: 0;
		margin: 0;
		display: block;
		text-indent: -999px;
	    li {
			background-size: cover;
			background-position: center;
			position: fixed;
			top:0;
			right: 0;
			left: 0;
			bottom: 0;
		    -webkit-transition: all 500ms ease-out;
		    -moz-transition: all 500ms ease-out;
		    -o-transition: all 500ms ease-out;
		    transition: all 500ms ease-out;
		    opacity: 0;
		    &.active {
		    	opacity: 1;
		    }
	    }
	}
}
#nav {
	position: fixed;
	z-index: 3;
	background: rgba(0,0,0,1);
	bottom:0;
	left:0;	
	width: 100%;
	height: 50px;
	* {
	    // -webkit-transition: all 500ms ease-out;
	    // -moz-transition: all 500ms ease-out;
	    // -o-transition: all 500ms ease-out;
	    // transition: all 500ms ease-out;
	}
	&:hover {
		//background: rgba(0,0,0,.5);
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		top:7px;
		z-index: 2;
		text-align: center;
		li {
			display: inline-block;
			margin:0 10px;
			color:white;
			font-family: "nimbus-sans-condensed",sans-serif;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 30px;
			opacity: .5;
		    -webkit-transition: all 500ms ease-out;
		    -moz-transition: all 500ms ease-out;
		    -o-transition: all 500ms ease-out;
		    transition: all 500ms ease-out;
			&:hover {
				opacity: 1;
			}
		}
	}
	.links {
		left:5px;
	}
	.plays {
		li {
			display: inline-block;
		}
	}
}
.artists {
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding: 0;
	text-align: center;
	position: relative;
	z-index: 2;
	margin-bottom: 50vh;
}
a, a:hover, a:visited {
	color: white;
	text-decoration: none;
}
.artists li {
	padding:70px 0;
	color: white;
	opacity: .5;
	 word-break: break-word;

	&:hover {
		opacity: 1;
	}
	.title {
		font-size: 120px;
  		font-family: "nimbus-sans-condensed",sans-serif;
  		display: block;
  		text-transform: uppercase;
  		line-height: 90px;
  		letter-spacing: 2px;
  		font-weight: 900;
	}
	.artist {
		font-size: 14px;
  		font-family: "anonymous-pro",sans-serif;
  		text-transform: uppercase;
  		font-weight:300;
  		letter-spacing: 3px;
	}
}
.fb-share-button span {
	vertical-align: middle !important;
	margin-top:-5px;
}

#loader {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black;
	z-index: 5;
}
.loader-inner{
	position: absolute;
	top:50%;
	left:50%;
	margin-top:40px;
	margin-left:-21px;
}
